div{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border: 1px solid black;
}
.translater{
    transform: perspective(10px) translatez(-10px);
}
.scales{
    margin: 200px;
    transform: rotateZ(30DEG);
    /*transform: perspective(350px)scalez(6) rotateX(45deg) rotateY(30deg);*/
}
