.container{
    border: 1psx solid black;
    background-color: yellow;
    height: 700px;
    width: 504px;
    display: grid;
    grid-template-rows: 30px 1fr 1fr  30px;
    grid-template-columns: 1fr;

  gap: 3px;

  grid-template-areas:
  "hd"
  "side"
  "main"
  "ft";
}

.box{
    border: 1px solid red;
    background-color: aqua;
}

#header{
    grid-area: hd;
}

#sidebar{
    grid-area: side;
}

#contend{
    grid-area:  main;

}
#footer{
     grid-area: ft;
}