.container{
  height: 500px;
  width: 500px;
  background-color: green;
  border: 3px solid red;

}

.box{
    background-color: aqua;
  border: 2px solid green;
  height: 150px;
  width: 150px;
  margin: 20px;

 /* transition: 1s;
  transition-property: background-color ;
  transition-delay:5s;*/
 
 /* transition: background-color;
  transition-duration: 1s;
  -o-transition-delay: ease;
  transition-timing-function: 3s;*/

/* transition: background-color 1s ease 2s ;*/

/* transition: all 1s ease 1s; 
transition: transform 3s ease-in-out;
*/
/*transition:transform 3s ease 1s;*/

  transition-property: transform;
  transition-duration: 3s;
  transition-delay: 1s;
  transition-timing-function: ease;
}

.box:hover{
    background-color: brown;
    transform: scale(2) translateX(501px) rotate(360deg) ;
   /* transform: translateX(500px););*/
}